{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/image/favicon.ico' %}" type="image/x-icon">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
      />
      <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <a class="brand" href="{% url 'home' %}"><img 
          src="{% static 'image/transLogo.png' %}" alt="Logo" height="80px" width="200px" style="margin-top:10px; margin-left: 0;"></a>
          <ul>
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                {% if user.is_superuser %}
                <li>
                  <a href="{% url 'admin' %}">Admin Page</a>
                </li>
                <li>
                  <a href="{% url 'adminreservation' %}">Reservation</a>
                </li>
                <li>
                  <a href="{% url 'manual_reservation' %}">Manual Reservation</a>
                </li>
                <li>
                  <a href="{% url 'admin_schedule' %}">Schedule</a>
                </li>
                <li>
                  <a href="{% url 'reservation_historyadmin' %}">Reservation History</a>
                </li>
                <li>
                  <a href="{% url 'confirm_reset' %}">Reset All Services Limit</a>
                </li>
                <!-- <li>
                  <a href="{% url 'admincancelreservation' %}">Cancel Reservation</a>
                </li> -->
                {% endif %}
                <li>
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
              {% elif user.is_doctor %}
                <li>
                  <a href="{% url 'consultation_doctors' %}">Check Consultation</a>
                </li>
                <li>
                  <a href="{% url 'scheduledt' %}">Schedule</a>
                </li>
                <!-- <li>
                  <a href="{% url 'consulhistory' %}">Consultations History</a>
                </li> -->
                <li class="dd">
                  <a href="#">Patient History &dtrif;</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'consulhistory' %}">Consultations History</a></li>
                    <li><a href="{% url 'resultshistory' %}">Laboratory Results</a></li>
                    <li><a href="{% url 'pershistory' %}">Prescription</a></li>
                  </ul>
                </li>
                <li>
                  <a href="{% url 'profile_doctor' %}">Profile</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}" style="margin-left: 5rem;">Logout</a>
                </li>
              {% else %}
                <!-- <li>
                  <a href="{% url 'index' %}">Home</a>
                </li> -->
                <li>
                  <a href="{% url 'reservation_view' %}">Services</a>
                </li>
                <li>
                  <a href="{% url 'consultation_view' %}">Consultation</a>
                </li>
                <li>
                  <a href="{% url 'schedulept' %}">Schedule</a>
                </li>
                <li>
                  <a href="#">Pending &dtrif;</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'reservation' %}">Pending Transaction </a></li>
                    <li><a href="{% url 'consultation' %}">Pending Consultation</a></li>
                    <li><a href="{% url 'reservation_history' %}">Transaction History</a></li>
                    <li><a href="{% url 'consultation_history' %}">Consultation History</a></li>
                  </ul>
                </li>
                <li class="dd">
                  <a href="#">Prescription/Results &dtrif;</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'labresults' %}">Laboratory Results</a></li>
                    <li><a href="{% url 'perscription' %}">Prescription</a></li>
                  </ul>
                </li>
                <li class="dd">
                  <a href="#">Checkout/Billing History &dtrif;</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                    <li><a href="{% url 'billing' %}">Billing History</a></li>
                  </ul>
                </li>
                <li>
                  <a href="{% url 'messagespatient' %}">Messages</a>
                </li>
                <li>
                  <a href="{% url 'profile_patient' %}">Profile</a>
                </li>
                <!-- <li> -->
                  <!-- <a href="{% url 'messagesdoctor' %}">Messages</a> -->
                <!-- </li> -->
                <li>
                    <a href="{% url 'logout' %}" style="margin-left: 5rem;">Logout</a>
                </li>
              {% endif %}
            {% else %}
              <li>
                <a href="{% url 'reservation_view' %}">Services</a>
              </li>
              <li>
                  <a href="{% url 'login' %}">Login</a>
              </li>
              <li>
                  <a href="{% url 'register' %}">Register</a>
              </li>
              <li>
                <a href="{% url 'contact' %}">Contact</a>
              </li>
              <li>
                <a href="{% url 'about' %}">About Us</a>
              </li>
            {% endif %}
          </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>