{% extends 'reservation/base.html' %}
{% block content %}
{% load static %}
<div class="login-background">
    <div class="container">
        <h1>Login</h1>
        <form action="" method="POST" class="form">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Username">
            <input name="password" type="password" placeholder="Password">
            <button type="submit" id="login-button">Login</button>
            <div class="check">
                <input type="checkbox" name="privacy" required>
                <label for="privacy"><u><b>I agree to these <a href="{% url 'privacy' %}">Privacy Policy</a>.</b></u></label>
            </div>
        </form>
        {% for message in messages %}
            <p class="message">{{message}}</p>
        {% endfor %}
        <p>Register? Click <a href="{% url 'register' %}">here</a></p>
        <p>Forgot Password?</p> Click <a href="{% url 'reset_password' %}">here</a></p>
    </div>
</div>
{% endblock %}