{% extends 'reservation/base.html' %}
{% block title %}
	Cancel Reservation
{% endblock %}
{% block content %}
<div class="whole-background">
  <div class="container">
    <h2 style="padding-top: 2rem;">Cancel Reservation</h2>
    <div class="tb-res">
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th scope="col">Services</th>
                <th class="hide" scope="col">Schedule</th>
                <th class="hide" scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                {% for i in reservation %}
                <th>{{i.facility.service_name}}</th>
                <td>{{i.date}}</td>
                <td>₱{{i.facility.price}}</td>
                <td>Approve</td>
                <td>
                  <a
                  class="button-link"
                  href="{% url 'cancelres' i.id %}"
                  class="crud"
                  >Cancel</a
                  >
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
</div>
{% endblock %}