asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.1.0
cloudinary==1.32.0
defusedxml==0.7.1
dj3-cloudinary-storage==0.0.6
Django==4.1.7
fonttools==4.39.3
fpdf2==2.7.3
idna==3.4
Pillow==9.5.0
requests==2.28.2
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.15
