{% extends 'reservation/base.html' %}
{% block title %}
	Reservation
{% endblock %}
{% block content %}
<div class="container">
    <h1>Services Reservation</h1>
    <div class="section-delete">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Services: </label>
        <input name="facility" type="text" placeholder="{{details}}" value="{{details}}" disabled>
        <input name="patient" type="hidden" placeholder="{{patient.last_name}}, {{patient.first_name}} {{patient.middle_name}}" value=" {{patient.last_name}}, {{patient.first_name}} {{patient.middle_name}}" hidden>
        <label>Schedule: </label>
        {{form.schedule}}
        <div class="btn-flex">
            <button type="submit" class="button-register">Schedule</button>
            <button type="reset" class="button-register">Reset</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}