{% extends 'reservation/base.html' %}
{% block title %}
	Reservation
{% endblock %}
{% block content %}
<div class="container">
    <h1>Schedule a Consultation</h1>
    <div class="section-delete">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Doctors Name: </label>
        <input name="doctor" type="text" placeholder="Dr. {{details.last_name}}, {{details.first_name}} {{details.middle_name}}" value="Dr. {{details.last_name}}, {{details.first_name}} {{details.middle_name}}" disabled>
        <label>Speciality: </label>
        <input name="speciality" type="text" placeholder="{{details.speciality}}" value="{{details.speciality}}" disabled>


        <input name="doctors_id" type="hidden" placeholder="{{details.rndid}}" value="{{details.rndid}}" hidden>
        <input name="doctor" type="hidden" placeholder="Dr. {{details.last_name}}, {{details.first_name}} {{details.middle_name}}" value="Dr. {{details.last_name}}, {{details.first_name}} {{details.middle_name}}" hidden>
        <input name="speciality" type="hidden" placeholder="{{details.speciality}}" value="{{details.speciality}}" hidden>
        <label>Schedule: </label>
        {{form.schedule}}
        <div class="btn-flex">
            <button type="submit" class="button-register">Schedule</button>
            <button type="reset" class="button-register">Reset</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}