{% extends 'reservation/base.html' %}
{% block title %}
	Billing
{% endblock %}
{% block content %}
<div class="whole-background">
<div class="container">
    <h1>Billing</h1>
    {% for i in results %}
    <main class="l-card-consultation">
        <section class="l-card__text">
            <p>
               {{i.reference_number}}
            </p>
        </section>
        <section class="l-card__user">
            <div class="l-card__userInfo">
                <span>Transaction ID: {{i.transac_id}}</span>
                <sub>Total Payment:  ₱{{i.price}}</sub>
                <span>Download the Invoice <a href="{% url 'report' i.id %}">Here...</a></span>
            </div>
        </section>
    </main>
    {% endfor %}
    <div class="hidden">y</div>
</div>
</div>
{% endblock %}