{% extends 'reservation/base.html' %}
{% block title %}
	Checkout
{% endblock %}
{% block content %}
<div class="whole-background">
<div class="container">
    <h1>Checkout</h1>
    {% if total_amount != "₱0.00" %}
        <h4 style="margin-bottom: 1rem;">Total: ₱{{total_amount}}</h4>
        <p>{{form.render}}</p>
        <h4><mark style="background-color: red; color: black;">
            No Refund/Re Appointment Reffer to this</mark><a href="{% url 'refund' %}"> Refund Policy</a>.</h4>
    {% else %}
        <p class="message">Reservation Exceed to Limit</p>
    {% endif %}
    {% for i in reservation %}
    <main style="margin-top: 1rem;" class="l-card-messages">
        <section class="l-card__text_checkout">
            <p>
               {{i.facility.service_name}}
            </p>
        </section>
        <section class="l-card__user">
            <div class="l-card__userInfo">
                <p>Price: <span style="text-transform:uppercase"> ₱{{i.facility.price}}</span></p>
                <p>Schedule: <span style="text-transform:uppercase"> {{i.date}} | {{i.get_timeslot_display}}</span></p>
            </div>
        </section>
    </main>
    {% endfor %}

    <div class="hidden">y</div>
</div>
</div>
{% endblock %}