{% extends 'reservation/base.html' %}
{% block title %}
    {% if details.is_first_login %}
	    Add Profile Details
    {% else %}
	   Edit Profile
    {% endif %}
{% endblock %}
{% block content %}
<div class="whole-background">
<div class="container">
    {% if details.is_first_login %}
        <h1>Add Profile Details</h1>
    {% else %}
        <h1>Edit Profile</h1>
    {% endif %}
    <div class="section-delete">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>First Name: </label>
        {{form.first_name}}
        <label>Middle Name: </label>
        {{form.middle_name}}
        <label>Last Name: </label>
        {{form.last_name}}
        <label>Gender: </label>
        {{form.gender}}
        <label>Address: </label>
        {{form.address}}
        <label>Email: </label>
        {{form.email}}
        <label>Birth Date: </label>
        {{form.bdate}}
        <label>Birth Place: </label>
        {{form.placebirth}}
        <div class="btn-flex">
            <button type="submit" class="button-register">Save</button>
            <button type="reset" class="button-register">Reset</button>
        </div>
        </form>
    </div>
</div>
</div>
{% endblock %}