{% extends 'reservation/base.html' %}
{% block title %}
	Schedule
{% endblock %}
{% block content %}
<div class="container">
    <div class="calendar light">
        <div class="calendar_plan">
        <div class="cl_plan">
            <div class="cl_title">Today</div>
            <span id="month">month</span>
            <span id="daynum">00</span>,
            <span id="year">0000</span>
        </div>
        </div>
        <div class="calendar_events">
        <p class="ce_title">Upcoming Approve Consultations</p>
        {% for i in reservation %}
        <div class="event_item">
            <div class="ei_Dot"></div>
            <div class="ei_Title">{{i.facility.facility_name}}</div>
            <div class="ei_Copy">{{i.date}}</div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    // Date
function updateDate() {
  let today = new Date();

  // return number
  let dayName = today.getDay(),
    dayNum = today.getDate(),
    month = today.getMonth(),
    year = today.getFullYear();

  const months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];
  const dayWeek = [
    "Sunday",
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
  ];
  // value -> ID of the html element
  const IDCollection = ["daynum", "month", "year"];
  // return value array with number as a index
  const val = [dayNum, months[month], year];
  for (let i = 0; i < IDCollection.length; i++) {
    document.getElementById(IDCollection[i]).firstChild.nodeValue = val[i];
  }
}

updateDate();
</script>
{% endblock %}