{% extends 'reservation/base.html' %}
{% block title %}
	Prescription
{% endblock %}
{% block content %}
<div class="whole-background">
<div class="container">
  <h1>Prescription</h1>
    {% for i in results %}
    <main class="l-card-consultation">
        <section class="l-card__text">
            <p>
                {{i.description}}
            </p>
        </section>
        <section class="l-card__user">
            <div class="l-card__userInfo">
                <span>Dr. {{i.doctor}}</span>
                <sub>{{i.date}}</sub>
                <span>Download the Pdf <a href="{% url 'downloadpers' i.id %}">Here...</a></span>
            </div>
        </section>
    </main>
    {% endfor %}
    <div class="hidden">y</div>
</div>
</div>
{% endblock %}