{% extends 'reservation/base.html' %}
{% block title %}
	Reservation History
{% endblock %}
{% block content %}
<div class="container">
    <!-- <a href="{% url 'consultation_history' %}" class="clicks" >Consultation History</a> -->
    <h1 style="padding-top: 2rem;">Reservation of Services History</h1>
    <div class="tb-res">
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th scope="col">Services</th>
                <th class="hide" scope="col">Schedule</th>
                <th class="hide" scope="col">Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                {% for i in reservation %}
                <th>{{i.facility.service_name}}</th>
                <td>{{i.date}}</td>
                <td>{{i.facility.price}}</td>
                {% if i.is_done %}
                  <td>Done</td>
                {% else %}
                  <td>Cancelled</td>
                {% endif %}
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
</div>
{% endblock %}