{% extends 'reservation/base.html' %}
{% block title %}
	Consultation History
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Search..." name="patient_filter">
        <input type="submit" value="Search">
     </form>
    {% for i in reservation %}
    <main class="l-card-consultation">
        <section class="l-card__text">
            <p>
               {{i.speciality}}
            </p>
        </section>
        <section class="l-card__user">
            <div class="l-card__userInfo">
                <span>Patient {{i.patient}}</span>
                <span>Upload Results <a href="{% url 'upload_labresults' i.id %}">Here...</a></span>
                <span>Upload Prescription <a href="{% url 'upload_perscription' i.id %}">Here...</a></span>
            </div>
        </section>
    </main>
    {% endfor %}
    <div class="hidden">y</div>
</div>
{% endblock %}