{% extends 'reservation/base.html' %}
{% block title %}
	Prescription History
{% endblock %}
{% block content %}
<div class="container">
  <h1>Prescription History</h1>
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Search..." name="patient_filter">
    <input type="submit" value="Search">
  </form>
    {% for i in results %}
    <main class="l-card-consultation">
        <section class="l-card__text">
            <p>
                {{i.description}}
            </p>
        </section>
        <section class="l-card__user">
            <div class="l-card__userInfo">
                <span>Dr. {{i.doctor}}</span>
                <span>Patient: {{i.patient}}</span>
                <sub>{{i.date}}</sub>
                <span>Download the Pdf <a href="{% url 'downloadpers' i.id %}">Here...</a></span>
            </div>
        </section>
    </main>
    {% endfor %}
    <div class="hidden">y</div>
</div>
{% endblock %}